body{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: midnightblue;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(180deg,rgb(8, 2, 50) 0% 40%, #002);
}
#container{
  width: 60%;
  padding: 2em 4em;
  text-align: left;
  border: 1px solid #DDD;
  margin: 12px auto;
  background: white;
}
#container h1{
  font-size: 1.4rem;
}
#container img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
#header{
  background: darkslateblue;
  color: whitesmoke;
  margin: 0;
  font-weight: bold;
  padding: 0.5em;
  font-size: 1.5rem;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
}
#header .logo{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
#header p{
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}
#header p #tagline{
  margin: 8px 0;
  font-weight: normal;
  font-size: 0.8rem;
}
#footer {
  text-align: center;
  background: darkblue;
  color: whitesmoke;
  padding: 12px;
}